.container {
  max-width: 1500px;
  margin-top: 0 auto;
  padding: 0 20px;
  background-color: black;
}
// HOME PAGE WITH LOGO and MENU
.home-page {
  // background-image: url(../images/background.png);
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 25px;
  // opacity: 0.55;
}

.mainView{
  background-image: url(../images/background.png);
  opacity: 0.99;
  // z-index: -20;
  
}

.navigation {
  padding-top: 10px;
}
//MENU
.menu {
  float: left;
  width: 50%;
  text-align: center;
  // padding:0 20px 0 0;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: $color-text;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 15px;
}

.slogan {
  width: 100%;
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
}

// BUTTON, CLASS DISCOVER
.discover {
  text-align: center;
  width: 100%;
}
//SECTION PRODUCT
.product-offert{
  color: $color-text;
}

//SECTION CONTACT
.contact{
  background-color: $color-text;
  text-align: center;
  padding: 40px 0; 
}

form{
  text-transform: uppercase;
}

label{
  font-weight: bold;
  margin: 20px 0;
  padding: 2px 0;
}

.btnbtn{
  background-color: $color-gold;
  color: $color-text;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  width: 160px;
  text-align: center;
  border: none;
  height: 35px;
}

.lattice{
  // padding: 20px 0;
  margin: 10px 0;
  width: 300px;
}

textarea{
  margin: 10px 0;
  width: 300px;
}
//SECTION ABOUT US
.aboutUs{
  background-image: url(../images/about-us.jpg);
  height: auto;
  padding-top: 20px;
  padding-bottom: 60px;
}

.paragraphs{
  width: 650px;
  margin: 0 auto;
  text-align: center;
  
}

p{
  color: $color-text;
  text-align: left;
  font-size: 20px;
  margin: 5px 0;
  $font-text:'Source Sans Pro', sans-serif;
}


//FOOTER
.foot{
  text-align: center;
  font-size: 12px;
  background-color: $color-text;
  margin: 0;
  padding: 10px 0;
  
}
#app{
  height: 50px;
  background-color: pink;
}