//Colors Palet
$color-gold:#BEA67C;
$color-text:#fff;
$color-line:#000;

//Fonts used
$font-text:'Source Sans Pro', sans-serif;

.gold-letters{
  text-transform: uppercase;
  color: $color-gold;
  font-size: 65px;
  letter-spacing: 10px;
  font-family: $font-text;
  font-weight: 800;
}

hr{
  background-color: $color-gold;
  width: 200px;
  height: 2px;
  text-align: center;
}

h4 {
  color: $color-line;
  font-family: $font-text;
}

.post-title{
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-family: $font-text;
}

.post-line{
  width: 300px;
  margin-top: 0;
  margin-bottom: 20px;
  
}