//Colors Palet
$color-gold:#BEA67C;
$color-text:#fff;
$color-line:#000;

.gold-letters{
  text-transform: uppercase;
  color: $color-gold;
  font-size: 50px;
}

hr{
  background-color: $color-gold;
  width: 200px;
  height: 2px;
  text-align: center;
}
h4 {
  color: $color-line;
}
.post-title{
  text-align: center;
  margin: 0;
  padding: 20px 0;
}
.post-line{
  width: 300px;
  margin-top: 0;
  margin-bottom: 20px;
  
}